@media only screen and (min-width: 1440px) {

    body {
        font-size: 20px;
    }

    .inner-container {
        margin: -300px 0 0 -300px;
        width: 650px;
        height: 675px;
    }

    .essence-images {
        margin-bottom: 30px;
    }

    .totem {
        height: 75px;
        width: 75px;
        margin: 0 8px;
    }

    #main-logo {
        margin-top: 30px;
    }

    .questions-container {
        margin-top: 50px;
    }

    .essence-header {
        font-size: 75px;
    }

    #main-logo {
        height: 125px;
        margin-top: 10px;
    }

    .question-header {
        margin-bottom: 20px;
    }

    .choice-button {
        width: 160px;
        height: 45px;
        font-size: 20px;
    }

    .choice-separator {
        margin: 13px 30px;
    }

    .previous-button {
        height: 65px;
        width: 65px;
        font-size: 20px;
    }

    .page-control {
        margin-top: 100px;
    }

}

@media only screen and (max-width: 750px) {

    body {
        font-size: 13px;
    }

    .inner-container {
        top: 40%;
        margin: -188px 0 0 -188px;
        width: 375px;
        height: 460px;
    }

    .totem {
        height: 40px;
        width: 40px;
        margin: 0 5px;
    }

    .questions-container {
        margin-top: 40px 0 0 0;
    }

    .essence-header {
        font-size: 45px;
    }

    #main-logo {
        height: 85px;
        margin-top: 10px;
    }

    .question-header {
        margin-bottom: 20px;
    }

    .choice-button {
        width: 108px;
        height: 30px;
        font-size: 13px;
    }

    .choice-separator {
        margin: 5px 10px;
    }

    .previous-button {
        height: 45px;
        width: 45px;
        font-size: 13px;
    }

    .page-control {
        margin-top: 40px;
    }

}